<div class="panel">
    <h2>Типы шаблонов</h2>
    <h6 class="card-subtitle mb-2 text-muted">
        Всего {{types.length}} элементов. 
    </h6>
    <br>
    <table class="table table-sm">
        <tr>
            <td colspan="2">
                <input [(ngModel)]="newType.Name" class="form-control form-control-sm">
            </td>
            <td>
                <button class="btn badge badge-success" (click)="editType(newType)">Добавить новый тип</button>
            </td>
        </tr>
        <tr *ngFor="let t of types; let i = index">
            <td>{{t.Id}}</td>
            <td>
                <input [readonly]="selection != i" [(ngModel)]="t.Name" class="form-control form-control-sm">
            </td>
            <td>
                <button class="btn badge badge-info" (click)="setSelection(i)">
                    {{selection == i ? 'Сохранить' : 'Изменить'}}
                </button>
                <button class="btn badge badge-success" (click)="removeType(t.Id)">Удалить</button>
            </td>
        </tr>
    </table>
    <br>
    <div class="card" *ngIf="!types">
        <div class="card-body">
            <h5 class="card-title">Здесь ничего нет</h5>
            <p class="card-text">Пока не был создан ни один тип</p>
        </div>
    </div>
</div>
