<div class="panel">
    <h2>Пользователи</h2>
    <h6 class="card-subtitle mb-2 text-muted">Всего {{users.length}} элементов.</h6>
    <br>
    <table class="table table-sm">
        <thead>
            <td>Id</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Действия</td>
        </thead>
        <tbody>
            <tr *ngIf="selection == 0">
                <td></td>
                <td><input [(ngModel)]="newUser.Lastname" class=""></td>
                <td><input [(ngModel)]="newUser.Firstname" class=""></td>
                <td><input [(ngModel)]="newUser.Fathersname" class=""></td>
                <td><button class="btn btn-sm btn-success">Добавить</button></td>
            </tr>
            <tr *ngFor="let t of users; let i = index">
                <td>{{t.Id}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="card" *ngIf="!users">
        <div class="card-body">
            <h5 class="card-title">Здесь ничего нет</h5>
            <p class="card-text">Пока не был создан ни один пользователь</p>
        </div>
    </div>
</div>
