<strong>{{initiatorId != -1 ? 'Запросы на подписание' : 'Ожидают подписания'}}</strong>, {{totalElements}} документов

<loading [status]="!signs"></loading>

<table mat-table [dataSource]="signs" fixedLayout class="w-100" *ngIf="signs && signs.length > 0">
  <ng-container matColumnDef="Document">
      <th mat-header-cell *matHeaderCellDef>Документ</th>
      <td mat-cell *matCellDef="let sign">
        <a [routerLink]="['/documents', sign.DocumentId]">{{sign.DocumentName | nullname}}</a>
        <span class="badge badge-secondary badge" *ngIf="sign.Signed == undefined">новый</span>
      </td>
  </ng-container>
  <ng-container matColumnDef="Created">
    <th mat-header-cell *matHeaderCellDef>Дата запроса</th>
    <td mat-cell *matCellDef="let sign">
      {{sign.CreateDate | date:"dd.MM.yyyy"}}
    </td>
  </ng-container>
  <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef>{{initiatorId == -1 ? 'Инициатор' : 'Подписант'}}</th>
      <td mat-cell *matCellDef="let sign">
        {{initiatorId == -1 ? sign.InitiatorShortname : sign.SignerShortname}}
      </td>
  </ng-container>
  <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Действия</th>
      <td mat-cell *matCellDef="let sign">
        <i *ngIf="initiatorId != -1">{{sign.Signed == undefined ? 'Ожидает' : sign.Signed == true ? 'Подписан' : 'Отклонён'}}</i>
        
        <ng-container *ngIf="initiatorId == -1">
          <ng-container *ngIf="sign.Signed == undefined">
            <button (click)="sign(sign, true)" class="btn btn-sm badge btn-primary">
              Подписать
            </button>
            <button (click)="resign(sign, false)" class="btn btn-sm badge btn-danger">
              Отклонить
            </button>
          </ng-container>
          <button *ngIf="sign.Signed == true" (click)="resign(sign, false)" class="btn btn-sm badge btn-danger">
            Отозвать
          </button>
          <button *ngIf="sign.Signed == false" (click)="resign(sign, true)" class="btn btn-sm badge btn-primary">
            Подписать
          </button>
        </ng-container>
        
        
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>     
</table>

<div class="card" *ngIf="signs && signs.length == 0">
  <div class="card-body">
      <b>Здесь ничего нет</b>
  </div>
</div>

<page *ngIf="signs" [page]="page" [maxPage]="maxPages" (onClick)="nextPage($event)"></page>