<div class="container">
  <h4>Домашняя страница</h4>
  <hr>

  <loading [status]="!user"></loading>
  
  <div class="row" *ngIf="user">
    <div class="col">
      <h5 class="card-title">{{user.Lastname}} {{user.Firstname}} {{user.Fathersname}}</h5>
      <p class="muted">Должность: <i>{{user.Position.Name}}</i></p>
      <p class="muted">Эл. почта: <i>{{user.Email}}</i></p>
    </div>
    <div class="col">
      <h5 class="card-title">Список ваших разрешений</h5>   
      <div *ngFor="let p of permissions" class="badge badge-secondary badge-pill">{{p}}</div>
    </div>
  </div>
  <hr>
  <br>

  <div *ngIf="user">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li *ngIf="currentPage != Pages.Documents" class="breadcrumb-item"><a class="link" (click)="currentPage = Pages.Documents">Документы</a></li>
        <li *ngIf="currentPage != Pages.Templates" class="breadcrumb-item"><a class="link" (click)="currentPage = Pages.Templates">Шаблоны документов</a></li>
        <li *ngIf="currentPage != Pages.Signs" class="breadcrumb-item"><a class="link" (click)="currentPage = Pages.Signs">Ожидают вашей подписи</a></li>
        <li *ngIf="currentPage != Pages.MySigns" class="breadcrumb-item"><a class="link" (click)="currentPage = Pages.MySigns">Ваши запросы на подписание</a></li>
      </ol>
    </nav>

    <div *ngIf="currentPage == Pages.Templates">
      <templates-list [authorId]="user.Id" [isEmbeded]="true"></templates-list>
    </div>

    <div *ngIf="currentPage == Pages.Documents">
      <documents-list [authorId]="user.Id" [isEmbeded]="true"></documents-list>
    </div>
 
    <div *ngIf="currentPage == Pages.Signs">
      <signs-list [signerId]="user.Id"></signs-list>
    </div>

    <div *ngIf="currentPage == Pages.MySigns">
      <signs-list [initiatorId]="user.Id"></signs-list>
    </div>

  </div>

</div>