<h2 class="noprint">Печатная форма</h2>
<button (click)="print()" class="btn btn-sm btn-info noprint">Печать</button>
<hr class="noprint">
<div id="payload" class="printform">
    <div class="printform-header">
        <p>
            Составил(а) {{documentInfo.authorName ? documentInfo.authorName : 'Трофимов И.С.'}}<br>
            От {{documentInfo.updateDate | date}}
            <span *ngIf="documentInfo.expireDate"><br>действителен до {{documentInfo.expireDate | date}}</span>
            <br>
            Абракадабра тест тест
        </p>
    </div>
    <p class="printform-title" align="center">
        {{documentInfo.name}}
    </p>
    <div *ngFor="let f of template.fields; let fi = index">
        <b>{{f.name}}</b><br> 
        <p *ngIf="f.type == 0">{{findField(f.id)}}</p>
        <table *ngIf="f.type == 1 && findTable(f.id) as table_data">
            <tr><td *ngFor="let col of $any(f).columns; let c = index">
                <table>
                    <tr>
                        <th>{{col.name}}</th>
                    </tr>
                    <tr *ngFor="let row of table_data.columns[c].values; let r = index">
                        <td>{{table_data.columns[c].values[r]}}</td>
                    </tr>
                </table>
            </td></tr>
        </table>
    </div>
    <br>
    <div class="printform-header">
        <p>
            Подпись: ______________ <br>
            Дата: ______________
        </p>
    </div>
</div>