<div class="panel">
    <h2>Документы</h2>
    <h6 class="card-subtitle mb-2 text-muted">Всего {{documents.length}} элементов. Создать новый документ по шаблону, можно в разделе "шаблоны".</h6>
    <br>
    <table class="table table-sm">
        <tbody>
            <tr *ngFor="let t of documents">
                <td>
                    <h5 class="card-title">{{t.info.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{t.info.type | doctype}}</h6>
                </td> 
                <td><h6>{{t.user ? t.user.name : t.info.author}}</h6></td>  
                <td>
                    <b>Создан: </b>{{t.info.updateDate | date:"longDate"}}<br>
                    <b>Истекает: </b>{{t.info.expireDate | date:"longDate" }}
                </td>  
                <td width="110px">
                    <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item btn-sm" [routerLink]="['/documents', t.info.id]">Изменить документ</a>
                        <button class="dropdown-item btn-sm" *ngIf="t.info.type >= 2" (click)="createNewVersion(t.info)">Новая версия</button>
                        <a class="dropdown-item btn-sm" [routerLink]="['/templates', t.info.templateId]">К шаблону</a>
                        <button class="dropdown-item btn-sm" (click)="removeDocument(t.info.id)">Удалить документ</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="card" *ngIf="!documents">
        <div class="card-body">
            <h5 class="card-title">Здесь ничего нет</h5>
            <p class="card-text">Пока не был создан ни один документ</p>
        </div>
    </div>
</div>
