<div class="mat-dialog-content">
    <form #nameForm="ngForm" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput [(ngModel)]="data.Name" required name="type_name">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="ok()" [disabled]="nameForm.invalid" class="btn btn-primary btn-sm">Принять</button>
    <button mat-button [mat-dialog-close]="undefined" class="btn btn-danger btn-sm">Отменить</button>
</div>