<div mat-dialog-content>
    <strong>Новый шаблон</strong>
    <hr>
    <form #nameForm="ngForm" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Название шаблона</mat-label>
            <input matInput [(ngModel)]="template.Name" required name="name">
        </mat-form-field>
    </form>
    <loading [status]="!types"></loading>
    <form #typesForm="ngForm" novalidate>
        <mat-form-field appearance="outline">
            <mat-label>Тип шаблона</mat-label>
            <mat-select [(ngModel)]="template.TemplateTypeId" *ngIf="types" required name="type">
              <mat-option *ngFor="let type of types" [value]="type.Id">{{type.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="template" [disabled]="nameForm.invalid || typesForm.invalid" class="btn btn-primary btn-sm">Принять</button>
    <button mat-button [mat-dialog-close]="undefined" class="btn btn-danger btn-sm">Отменить</button>
</div>