<div class="panel">
    <h2>Шаблоны документов</h2>
    <h6 class="card-subtitle mb-2 text-muted">
        Всего {{templates.length}} элементов&emsp;<span class="">
            <button class="btn btn-success btn-sm" (click)="addTemplate()">Создать</button>
        </span></h6>
    <br>
    <div *ngIf="status" class="alert alert-{{status[0] ? 'success' : 'danger'}}" role="alert">
        {{status[1]}}
        <button type="button" class="close" aria-label="Close" (click)="status = undefined">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> 
    <table class="table table-sm">
        <tbody>
            <tr *ngFor="let t of templates">
                <td>
                    <h5>{{t.Name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{t.TemplateType}}</h6>
                </td> 
                <td>
                    <h6 *ngIf="t.Depricated">действует</h6>
                    <div *ngIf="!t.Depricated">
                        <h6>устарел</h6>
                        <p class="card-subtitle mb-2 text-muted">Новый документ создать нельзя</p>
                    </div>
                </td> 
                <td>
                    <h6 class="">{{t.AuthorName}}</h6>
                </td>  
                <td>
                    <h6 class="">{{t.UpdateDate | date:'longDate'}}</h6>
                </td>  
                <td width="110px">
                    <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
                    <div class="dropdown-menu">
                        <button *ngIf="!t.Depricated" class="dropdown-item btn-sm" (click)="createDocument(t.Id)">Создать документ</button>
                        <a class="dropdown-item btn-sm" [routerLink]="['/templates', t.Id]">Изменить шаблон</a>
                        <button class="dropdown-item btn-sm" (click)="removeTemplate(t.Id)">Удалить шаблон</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="card" *ngIf="!templates">
        <div class="card-body">
            <h5 class="card-title">Здесь ничего нет</h5>
            <p class="card-text">Пока не был создан ни один шаблон документа</p>
        </div>
    </div>
</div>
