<div class="">
    {{table.name}}
    <table>
        <tr><td *ngFor="let col of table.columns; let c = index">
            <table>
                <tr>
                    <th>{{col.name}}<span *ngIf="col.required" class="badge badge-pill badge-info">*</span></th>
                </tr>
                <tr *ngFor="let row of data.columns[c].values; let r = index; trackBy:trackByFn">
                    <td>
                        <input type="{{col.dataType | inputtype}}"
                            id="c_{{r}}_{{c}}" 
                            class="form-control form-control-sm {{error && error[1] == r && error[2] == c ? 'is-invalid' : ''}}"
                            [(ngModel)]="data.columns[c].values[r]"
                        >
                    </td>
                </tr>
            </table>
        </td></tr>
    </table>
    <div *ngIf="error" class="alert alert-danger">
        <div *ngIf="error[0] == 'required'">Ячейка [{{error[1] + 1}}, {{error[2] + 1}}] обязательна к заполнению!</div>
        <div *ngIf="error[0] == 'except'">
            Ячейка [{{error[1] + 1}}, {{error[2] + 1}}] не может принимать значения из списка: {{choices}}
        </div>
        <div *ngIf="error[0] == 'only'">
            Ячейка [{{error[1] + 1}}, {{error[2] + 1}}] должно принимать значение из списка: {{choices}}
        </div>
    </div>
</div>