<div class="container panel" *ngIf="documentInfo">
    <h2>Редактирование документа</h2>
    <button class="btn btn-outline-secondary dropdown-toggle btn-sm badge" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
    <div class="dropdown-menu">
        <button *ngIf="documentInfo.type == 0" class="dropdown-item btn-sm" (click)="save()">Сохранить</button>
        <button *ngIf="documentInfo.type == 0" class="dropdown-item btn-sm" (click)="delete()">Удалить</button>
    </div>
    <a class="btn btn-sm" *ngIf="documentInfo.type == 0" (click)="nextType()">Передать на подписание</a>
    <a class="btn btn-sm" *ngIf="documentInfo.type == 1" (click)="nextType()">Подписать</a>
    <a class="btn btn-sm" *ngIf="documentInfo.type == 2" (click)="nextType()">Вывести из оборота</a>
    <hr>
    <button (click)="validate()">validate</button>
    <div class="row">
        <div class="col">
            <b>Название</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="documentInfo.name" [readonly]="documentInfo.type != 0"/>
        </div>
        <div class="col">
            <b>Автор</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="documentInfo.authorName" readonly/>
        </div>
        <div class="col">
            <b>Дата истечения</b><br>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="documentInfo.expireDate" [readonly]="documentInfo.type != 0"/>
        </div>
        <div class="col">
            <div *ngIf="status" class="alert alert-{{status[0] ? 'success' : 'danger'}}" role="alert">
                {{status[1]}}
                <button type="button" class="close" aria-label="Close" (click)="status = undefined">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
        </div>
    </div>
    <hr>
</div>
<div class="container panel" *ngIf="template && documentData">
    <h4>Список полей</h4>
    <h6 class="text-muted">Шаблон: {{template.name}}</h6>
    <p *ngFor="let f of template.fields; let fi = index">
        <doc-field *ngIf="f.type == 0" 
            [template]="$any(f)" 
            [data]="$any(findField(f.id))"
            [readonly]="documentInfo.type != 0">
        </doc-field>
        <doc-table *ngIf="f.type == 1"
            [data]="$any(findTable(f.id))" 
            [table]="$any(f)"
            [readonly]="documentInfo.type != 0">
        </doc-table>                     
    </p>
    <hr>
    <p class="text-muted">
        Обязательные поля отмечены <span class="badge badge-pill badge-info">*</span>
    </p>  
</div>
<div class="container panel" *ngIf="!documentData || !documentInfo || !template">
    Ошибка, не удалось загурзить документ
</div>
