<div class="container panel">
    <h4>Редактирование документа</h4>
    <button [disabled]="!document" class="btn btn-outline-secondary dropdown-toggle btn-sm badge" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [disabled]="!document">Действия</button>
    <div class="dropdown-menu">
        <button *ngIf="document?.Type == 0" class="dropdown-item btn-sm" (click)="save()">Сохранить</button>
        <button *ngIf="document?.Type == 0" class="dropdown-item btn-sm" (click)="delete()">Удалить</button>
    </div>
    <a class="btn btn-sm" (click)="nextType()">{{getDocumentStatusAction()}}</a>
    <div class="row" *ngIf="document">
        <div class="col">
            <b>Название</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="document.Name" [readonly]="document.Type != 0" [disabled]="!document"/>
        </div>
        <div class="col">
            <b>Автор</b><br>
            {{document.AuthorName}}
        </div>
        <div class="col">
            <b>Дата истечения</b><br>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="document.ExpireDate" [readonly]="document.Type != 0" [disabled]="!document"/>
        </div>
        <div class="col">
            <div *ngIf="status" class="alert alert-{{status[0] ? 'success' : 'danger'}}" role="alert">
                {{status[1]}}
                <button type="button" class="close" aria-label="Close" (click)="status = undefined" [disabled]="!document">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
        </div>
    </div>
    <p class="text-muted" *ngIf="document">Испольуется шаблон <a class="link" [routerLink]="['/templates', document.TemplateId]">{{document.Template?.Name}}</a></p>
</div>

<hr>

<loading [status]="!document"></loading>

<div class="container panel" *ngIf="document">
    <p *ngFor="let item of document.Template?.TemplateItems">
        <doc-field *ngIf="!item.IsTable" 
            [template]="item" 
            [data]="$any(getItem(item.Id))"
            [readonly]="document.Type != 0">
        </doc-field>
        <doc-table *ngIf="item.IsTable"
            [table]="item"
            [data]="getColumns(item)"
            [readonly]="document.Type != 0">
        </doc-table>                     
    </p>
    <hr>
    <p class="text-muted">
        Обязательные поля отмечены <span class="badge badge-pill badge-info">*</span>
    </p>  
</div>