<div>
    <table>
        <tr><td *ngFor="let col of table.TemplateFields; let c = index">
            <table>
                <tr>
                    <th>{{col.Name}}<span *ngIf="col.Required" class="badge badge-pill badge-info">*</span></th>
                </tr>
                <tr *ngFor="let row of data.slice(c*table.Rows, (c + 1)*table.Rows); let r = index; trackBy:trackByFn">
                    <td>
                        <input type="{{col.DataType | inputtype}}"
                            id="c_{{r}}_{{c}}" 
                            class="form-control form-control-sm {{error.error != ValidationErrors.Ok && error.row == r && error.col == c ? 'is-invalid' : ''}}"
                            [(ngModel)]="row.Value"
                        >
                    </td>
                </tr>
            </table>
        </td></tr>
    </table>
    <div *ngIf="error.error != ValidationErrors.Ok" class="alert alert-danger">
        {{errorMsg()}}
    </div>
</div>