<div class="form-group">
    <label>
        {{template.Name}} <span *ngIf="template.Required" class="badge badge-pill badge-info">*</span>
    </label>   
    <textarea *ngIf="template.DataType == 0"
        class="form-control {{error != ValidationErrors.Ok ? 'is-invalid' : ''}}"
        [(ngModel)]="data.Value"
        [disabled]="readonly">
    </textarea>
    <input *ngIf="template.DataType != 0"
        type="{{template.DataType | inputtype}}"
        class="form-control {{error != ValidationErrors.Ok ? 'is-invalid' : ''}}"
        [(ngModel)]="data.Value"
        [disabled]="readonly">
    <div *ngIf="error != ValidationErrors.Ok" class="alert alert-danger">
        {{errorMsg()}}
    </div>
</div> 