.loading {
    margin: 4% auto;
}

.paginator-container{
    margin-top: 8px; 
    margin-bottom: 5px
}

.page{
    margin-left: 1em; 
    margin-right: 1em;
}

.debug-box{
    position:absolute;
    top: 0;
    right: 0;
    font-family: Consolas;
    line-height: 0.9;
}

.info-dropdown{
    width: 80%;
}

.alert-panel{
    max-height: 5%;
}

.site-header{
    background-color: #e3f2fd; 
    margin-bottom: 1em;
}
