.loading {
    margin: 4% auto;
}
.paginator-container{
    margin-top: 8px; 
    margin-bottom: 5px
}
.page{
    margin-left: 1em; 
    margin-right: 1em;
}
.debug-box{
    position: absolute;
    top: 0;
    right: 0;
    font-family: Consolas;
    line-height: 0.8;
}