<div class="container panel" *ngIf="template != undefined">
    <h2>Редактирование шаблона</h2>
    <button class="btn btn-outline-secondary dropdown-toggle btn-sm badge" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
    <div class="dropdown-menu">
        <button class="dropdown-item btn-sm" (click)="save()">Сохранить</button>
        <button class="dropdown-item btn-sm" (click)="delete()">Удалить</button>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <b>Название</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="template.name"/>
        </div>
        <div class="col">
            <b>Автор</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="template.author"/>
        </div>
        <div class="col">
            <b>Тип</b><br>
            <select class="form-control form-control-sm" [(ngModel)]="template.type">
                <option *ngFor="let t of templateTypes" [ngValue]="t.id">{{t.name}}</option>
            </select>
        </div>
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status == 'ok'">
                Шаблон сохранён
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status && status != 'ok'">
                {{status}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container panel" *ngIf="template != undefined && template.fields != undefined">
    <h4>Список полей ({{template.fields.length}})</h4>
    <button class="btn badge badge-success" (click)="addField()">Добавить поле</button> или 
    <button class="btn badge badge-success" (click)="addTable()">добавить таблицу</button>
    <br>
    <br>
    <ul class="list-group">
        <li *ngIf="template.fields.length == 0" class="list-group-item">
            <b>Пусто</b>
        </li>                
        <li *ngFor="let f of template.fields; let fi = index" class="list-group-item">
            <field-template *ngIf="f._class == 'InputField'" [field]="$any(f)" (onDelete)="deleteField(fi)" (onChangeOrder)="changeOrder(fi, $event)"></field-template>   
            <table-template *ngIf="f._class == 'TableField'" [table]="$any(f)" (onDelete)="deleteField(fi)" (onChangeOrder)="changeOrder(fi, $event)"></table-template>      
        </li>
    </ul>    
</div>
<div class="container panel" *ngIf="!template">
    Ошибка, не удалось загурзить шаблон
</div>