<div class="container panel" *ngIf="template != undefined">
    <h1>Редактирование шаблона</h1>
    <table class="table-sm table-borderless">
        <tr>
            <td><b>Название</b></td>
            <td><b>Автор</b></td>
            <td><b>Тип</b></td>
            <td><button class="btn btn-success btn-sm" (click)="save()">Сохранить</button></td>
            <td rowspan="2" valign="middle">
                <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status == 'ok'">
                    Шаблон сохранён
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td><input class="form-control form-control-sm" [(ngModel)]="template.name"/></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="template.author"/></td>
            <td>
                <select class="form-control form-control-sm" [(ngModel)]="template.type">
                    <option *ngFor="let t of templateTypes" [ngValue]="t.id">{{t.name}}</option>
                </select>
            </td>
            <td><button class="btn btn-danger btn-sm" (click)="delete()">Удалить</button></td>
        </tr>
    </table>
    <hr>
</div>
<div class="container panel" *ngIf="template != undefined && template != null">
    <h4>Список полей ({{template.fields.length}})</h4>
    <button class="btn badge badge-success" (click)="addField()">Добавить поле</button> или 
    <button class="btn badge badge-success" (click)="addTable()">добавить таблицу</button>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название поля</th>
                <th>Ограничение</th>
                <th width="120px">Действия</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngIf="template.fields.length == 0">
                <td colspan="4" align="center"><b>Пусто</b></td>
            </tr>                
            <tr *ngFor="let f of template.fields; let fi = index">
                <ng-template [ngIf]="f._class == 'InputField'" [ngIfElse]="table">
                    <ng-template [ngIf]="selectedIndex == fi" [ngIfElse]="viewing_field">
                        <td><input class="form-control form-control-sm" placeholder="Название" [(ngModel)]="f.name"/></td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <select class="form-control form-control-sm" [(ngModel)]="$any(f).restrictType">
                                        <option *ngFor="let r of restrictionTypes" [ngValue]="r">{{r | restriction}}</option>
                                    </select>
                                </div>
                                <input class="form-control form-control-sm" placeholder="Ограничение" [readonly]="$any(f).restrictType == 0" [(ngModel)]="$any(f).restrictions"/>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="flexCheckDefault" [(ngModel)]="$any(f).required">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Обязательное
                                </label>
                            </div>
                        </td>
                    </ng-template>
                    <ng-template #viewing_field>
                        <td>{{f.name}}</td>
                        <td>
                            <span class="badge badge-warning badge-pill">{{$any(f).restrictType | restriction}}</span>
                            {{$any(f).restrictions}}<br>
                            <label *ngIf="$any(f).required"><small>Обязательное поле</small></label>
                            <label *ngIf="!$any(f).required"><small>Необязательное поле</small></label>
                        </td>
                    </ng-template>    
                </ng-template>
                <ng-template #table><td colspan="2">
                    <table-template [editing]="selectedIndex == fi" [table]="$any(f)"></table-template>
                </td></ng-template>                 
                <td>
                    <button *ngIf="selectedIndex != fi" class="btn btn-info btn-sm" (click)="editField(fi)">✎</button>&nbsp;
                    <button *ngIf="selectedIndex == fi" class="btn btn-success btn-sm" (click)="editField(fi)"><b>✓</b></button>&nbsp;
                    <button class="btn btn-danger btn-sm" (click)="deleteField(fi)"><b>✕</b></button>
                </td>          
            </tr>
        </tbody>
    </table>    
</div>
<div class="container panel" *ngIf="template == undefined">
    Ошибка, не удалось загурзить шаблон
</div>