<div class="container panel" *ngIf="template != undefined">
    <h1>Редактирование шаблона</h1>
    <table class="table-sm table-borderless">
        <tr>
            <td><b>Название</b></td>
            <td><b>Автор</b></td>
            <td><b>Тип</b></td>
            <td><button class="btn btn-success btn-sm" (click)="save()">Сохранить</button></td>
            <td rowspan="2" valign="middle">
                <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status == 'ok'">
                    Шаблон сохранён
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td><input class="form-control form-control-sm" [(ngModel)]="template.name"/></td>
            <td><input class="form-control form-control-sm" [(ngModel)]="template.author"/></td>
            <td>
                <select class="form-control form-control-sm" [(ngModel)]="template.type">
                    <option *ngFor="let t of templateTypes" [ngValue]="t.id">{{t.name}}</option>
                </select>
            </td>
            <td><button class="btn btn-danger btn-sm" (click)="delete()">Удалить</button></td>
        </tr>
    </table>
    <hr>
</div>
<div class="container panel" *ngIf="template != undefined && template.fields != undefined">
    <h4>Список полей ({{template.fields.length}})</h4>
    <button class="btn badge badge-success" (click)="addField()">Добавить поле</button> или 
    <button class="btn badge badge-success" (click)="addTable()">добавить таблицу</button>
    <br>
    <br>
    <ul class="list-group">
        <li *ngIf="template.fields.length == 0" class="list-group-item">
            <td colspan="4" align="center"><b>Пусто</b></td>
        </li>                
        <li *ngFor="let f of template.fields; let fi = index" class="list-group-item">
            <field-template *ngIf="f._class == 'InputField'" [field]="$any(f)" (onDelete)="deleteField(fi)" (onChangeOrder)="changeOrder(fi, $event)"></field-template>   
            <table-template *ngIf="f._class == 'TableField'" [table]="$any(f)" (onDelete)="deleteField(fi)" (onChangeOrder)="changeOrder(fi, $event)"></table-template>      
        </li>
    </ul>    
</div>
<div class="container panel" *ngIf="template == undefined">
    Ошибка, не удалось загурзить шаблон
</div>