<h4>Документы</h4>
<p *ngIf="documents" class="text-muted">
    Всего {{totalElements}} элементов.
    <span><button (click)="createDocument()" class="btn btn-primary btn-sm badge">Создать документ</button></span>
</p>

<loading [status]="!documents"></loading>

<table mat-table [dataSource]="documents" fixedLayout class="w-100" *ngIf="documents && documents.length > 0">
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Название</th>
        <td mat-cell *matCellDef="let document">
            <a [routerLink]="['/documents', document.Id]">{{document.Name | nullname}}</a><br>
            <span class="badge badge-secondary">{{document.Type | doctstatus}}</span>
        </td>
    </ng-container>
    <ng-container matColumnDef="Template">
        <th mat-header-cell *matHeaderCellDef>Шаблон</th>
        <td mat-cell *matCellDef="let document">
            <a [routerLink]="['/templates', document.TemplateId]">{{document.TemplateName | nullname}}</a>
        </td>
    </ng-container>
    <ng-container matColumnDef="AuthorName">
        <th mat-header-cell *matHeaderCellDef>Автор</th>
        <td mat-cell *matCellDef="let document">{{document.AuthorName}}</td>
    </ng-container>
    <ng-container matColumnDef="UpdateDate">
        <th mat-header-cell *matHeaderCellDef>Изменено</th>
        <td mat-cell *matCellDef="let document">{{document.UpdateDate | date:"dd.MM.yyyy"}}</td>
    </ng-container>
    <ng-container matColumnDef="ExpireDate">
        <th mat-header-cell *matHeaderCellDef>Устареет</th>
        <td mat-cell *matCellDef="let document">
            <ng-container *ngIf="document.ExpireDate">{{document.ExpireDate | date:"dd.MM.yyyy"}}</ng-container>
            <i *ngIf="!document.ExpireDate">никогда</i>
        </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let document">
            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
            <div class="dropdown-menu">
                <a class="dropdown-item btn-sm" [routerLink]="['/documents', document.Id]">Изменить документ</a>
                <button class="dropdown-item btn-sm" *ngIf="document.Type >= 2" (click)="createNewVersion(document.Id)">Новая версия</button>
                <a class="dropdown-item btn-sm" [routerLink]="['/templates', document.TemplateId]">К шаблону</a>
                <button class="dropdown-item btn-sm" (click)="removeDocument(document.Id)">Удалить документ</button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>     
</table>

<div class="card" *ngIf="documents && documents.length == 0">
    <div class="card-body">
        <b>Здесь ничего нет</b>
        <p class="muted">Пока не был создан ни один документ</p>
    </div>
</div>

<page *ngIf="documents" [page]="page" [maxPage]="maxPages" (onClick)="nextPage($event)"></page>