<div class="container panel">
    <h4>Редактирование шаблона</h4>
    <button class="btn btn-outline-secondary dropdown-toggle btn-sm badge" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
    <div class="dropdown-menu">
        <button class="dropdown-item btn-sm" (click)="save()">Сохранить</button>
        <button class="dropdown-item btn-sm" (click)="template.Depricated = !template.Depricated">
            {{template.Depricated  ? "Отметить актуальным" : "Отметить устаревшим"}}
        </button>
        <button class="dropdown-item btn-sm" (click)="delete()">Удалить</button>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <b>Название</b><br>
            <input class="form-control form-control-sm" [(ngModel)]="template.Name"/>
        </div>
        <div class="col">
            <b>Тип</b><br>
            <select class="form-control form-control-sm" [(ngModel)]="template.TemplateTypeId">
                <option *ngFor="let t of templateTypes" [ngValue]="t.Id">{{t.Name}}</option>
            </select>
        </div>
        <div class="col">
            <b>Автор</b><br>
            {{template.AuthorName}}
        </div>
    </div>
    <div class="row" *ngIf="status">
        <div class="alert alert-{{status[0] ? 'success' : 'danger'}}" role="alert">
            {{status[1]}}
            <button type="button" class="close" aria-label="Close" (click)="status = undefined">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>  
    </div>
    <hr>
</div>
<div class="container panel">
    <h5>Список полей ({{template.TemplateItems.length}})</h5>
    <p *ngIf="!template.Depricated">
        <button class="btn badge badge-success" (click)="addField()">Добавить поле</button> или 
        <button class="btn badge badge-success" (click)="addTable()">добавить таблицу</button>
        <br>
    </p>
    <ul class="list-group">
        <li *ngIf="template.TemplateItems.length == 0" class="list-group-item">
            <b>Пусто</b>
        </li>                
        <li *ngFor="let f of template.TemplateItems" class="list-group-item">
            <table-template *ngIf="f.isTable()" 
                [columns]="(f | as: Table).TemplateFields" 
                [table]="(f | as: Table)"
                (onDelete)="deleteItem(f.Id, f.Order)"
            >
            </table-template>
            <field-template *ngIf="!f.isTable()" 
                [field]="(f | as: Field)" 
                (onDelete)="deleteItem(f.Id, f.Order)"
            >
            </field-template>
        </li>
    </ul>    
</div>
<div class="container panel" *ngIf="!template">
    Ошибка, не удалось загурзить шаблон
</div>