<table class="table-sm table-borderless">
    <tr>
        <td><b>Название таблицы: </b></td>
        <td><b>Количество строк: </b></td>
        <td>
            <button *ngIf="!readonly" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item btn-sm" (click)="changeOrder(-1)">Двигать вверх</button>
                <button class="dropdown-item btn-sm" (click)="changeOrder(1)">Двигать вниз</button>
                <button class="dropdown-item btn-sm" (click)="delete()">Удалить</button>
            </div>
        </td>
    </tr>
    <tr>
        <td><input (blur)="save()" [(ngModel)]="table.Name" [readonly]="readonly" class="form-control form-control-sm" placeholder="Название"/></td>
        <td><input (blur)="save()" [(ngModel)]="table.Rows" [readonly]="readonly" type="number" class="form-control form-control-sm"/></td>
    </tr>
</table>
<br>
<button *ngIf="!readonly" class="btn badge badge-success" (click)="addColumn()"><b>+</b></button>&nbsp;Столбцы таблицы ({{columns.length}}):
<table class="table table-sm table-borderless">
    <tr *ngFor="let c of columns; let i = index">
        <field-template [field]="c" [readonly]="readonly"
            (onDelete)="deleteColumn(c)" 
            (onSave)="save(c)"
            (onChangeOrder)="onColumnChangeOrder(i, $event)">
        </field-template>
    </tr>
</table>   