<table class="table-sm table-borderless">
    <tr>
        <td><b>Название таблицы: </b></td>
        <td><b>Количество строк: </b></td>
        <td>
            <button *ngIf="!readonly" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item btn-sm" (click)="changeOrder(-1)">Двигать вверх</button>
                <button class="dropdown-item btn-sm" (click)="changeOrder(1)">Двигать вниз</button>
                <button class="dropdown-item btn-sm" (click)="deleteField()">Удалить</button>
            </div>
        </td>
    </tr>
    <tr>
        <td><input class="form-control form-control-sm" placeholder="Название" [(ngModel)]="table.Name" [readonly]="readonly"/></td>
        <td><input type="number" class="form-control form-control-sm" [(ngModel)]="table.Rows" [readonly]="readonly"/></td>
    </tr>
</table>
<br>
<button *ngIf="!readonly" class="btn badge badge-success" (click)="addColumn()"><b>+</b></button>&nbsp;Столбцы таблицы ({{columns.length}}):
<table class="table table-sm table-borderless">
    <tr *ngFor="let c of columns; let i = index">
        <field-template [field]="c" (onDelete)="deleteColumn(i)" [readonly]="readonly"></field-template>
    </tr>
</table>   