<div class="panel">
    <h2>Документы</h2>
    <h6 class="card-subtitle mb-2 text-muted">Всего {{documents.length}} элементов</h6>
    <br>
    <table class="table table-sm">
        <tbody>
            <tr *ngFor="let t of documents">
                <td>
                    <h5 class="card-title">{{t.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{t.type | doctype}}</h6>
                </td> 
                <td><h6>{{t.author}}</h6></td>  
                <td>
                    <b>Создан: </b>{{t.updateDate | date:"dd-MM-yyyy"}}<br>
                    <b>Истекает: </b>{{t.expireDate | date:"dd-MM-yyyy"}}
                </td>  
                <td>
                    <a class="btn btn-info btn-sm" [routerLink]="['/documents', t.id]">Изменить</a><br>
                    <button class="btn btn-danger btn-sm" (click)="removeDocument(t.id)">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="card" *ngIf="!documents">
        <div class="card-body">
            <h5 class="card-title">Здесь ничего нет</h5>
            <p class="card-text">Пока не был создан ни один документ</p>
        </div>
    </div>
</div>
