<div class="form-group">
    <label for="f_{{template.id}}">
        {{template.name}} <span *ngIf="template.required" class="badge badge-pill badge-info">*</span>
    </label>   
    <textarea *ngIf="template.dataType == 0"
        id="f_{{template.id}}" 
        class="form-control {{error ? 'is-invalid' : ''}}"
        (blur)="validate()"
        [(ngModel)]="data.value"
        [disabled]="readonly">
    </textarea>
    <input *ngIf="template.dataType != 0"
        type="{{template.dataType | inputtype}}"
        id="f_{{template.id}}" 
        class="form-control {{error ? 'is-invalid' : ''}}"
        (blur)="validate()"
        [(ngModel)]="data.value"
        [disabled]="readonly">
    <div *ngIf="error" class="alert alert-danger">
        <div *ngIf="error == 'required'">Обязательное поле!</div>
        <div *ngIf="error == 'except'">
            Поле не может принимать значения из списка: {{choices}}
        </div>
        <div *ngIf="error == 'only'">
            Поле должно принимать значение из списка:  {{choices}}
        </div>
    </div>
</div> 