.btn-icon{
    width: 2em;
    padding: 2px;
    margin: 2px;
}

.permission-item{
    margin: 2px 4px;
}

.box{
    background-color: #eaeff5;
}

.round-border, .round-border-error{
    position: relative;
    border-radius: 0.3rem;
    padding: 14px 4px 8px 4px;
}

.round-border {
    border: 1px solid #ced4da;
}

.round-border-error{
    border: 3px solid #f44336;
}

.label-border{
    position: absolute;
    top: -3px;
    font-size: small;
}

.round-border-error .label-border{
   color: #f44336;
}

